# Ses variables sont à modifier en fonction de votre configuration

POSTGRES_USER=rootuser
POSTGRES_PASSWORD=rootpassword
POSTGRES_DB=ecommerce
DATABASE_URL=postgresql://rootuser:rootpassword@db:5432/ecommerce
TIMEZONE=Europe/Madrid
MAILER_DSN=smtp://localhost:1025
JWT_PASSPHRASE=secret
CORS_ALLOW_ORIGIN=http://localhost:3000
STRIPE_SECRET_KEY=sk_test_51J3